<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AmazingBattle</title>
    <link rel="stylesheet" type="text/css" href="assets/estilo.css">
  </head>
  <body>
    <h1>Bienvenido a AmazingBattle!</h1>
    <form method="post" action="/juego" id="inicio">
      <select name="dificultad">
        <option value="Facil">Facil</option>
      </select>
      <button name="iniciar_juego" id="iniciar_juego" type="submit">Iniciar juego</button>
    </form>
  </body>
</html>
