<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/tableroFacil" method="post">
      <input type="submit" value="Facil"/>
    </form>
  </body>
</html>
