<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>AmazingBattle</title>
    <link rel="stylesheet" type="text/css" href="assets/estilo.css">
  </head>
  <body>
    <h1>Bienvenido a AmazingBattle!</h1>
    <form method="post" action="/juego" id="inicio">
      <button name="iniciar_juego" id="iniciar_juego" type="submit">Iniciar juego</button>
=======
    <title></title>
  </head>
  <body>
    <form action="/tableroFacil" method="post">
      <input type="submit" value="Facil"/>
>>>>>>> e8d2c9aa53c8e66c9a6a65aa3f240dc1ec07787e
    </form>
  </body>
</html>
